*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: white;
}

.block{
    padding-top: 10px;
}

.education{
    /* border: 2px solid white; */
    padding: 10px;
    /* width: 200px; */
    text-align: center;
    margin: 0px auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    color: red;
    font-weight: bold;
}

.line{
    border: 2px solid white;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    animation: lines 0.5s linear 0s 2 alternate-reverse backwards;
}

@keyframes lines{
    from{
        width: 0px;
        /* height: 3px; */
    }
    to{
        width: 180px;
        /* height: 3px; */
    }
}

.container{
    display:flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 20px;
    
}

.box{
    height: 300px;
    /* width: 500px; */
    border-radius: 30px;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start ;
    background-color: rgb(53, 51, 51) ;
    /* padding-left: 20px; */
    padding: 50px 20px 0px 20px;
    overflow: hidden;
    position: relative;
    animation-name: box;
    animation-duration: 1s;
}

@keyframes box{
    0%{
    
        opacity: 0;
        /* transform: translateY(0px); */
        /* transform: scale(1); */
        transform:  scale(1) translateX(-200px);
        /* transform: rotate(0deg); */
        /* rotate(0deg) */
    }
    25%{
        opacity: 0.5;
        /* transform: translateY(20px); */
        /* transform: scale(1.1); */
        transform:scale(1.04) translateX(-20px);
        /* transform: rotate(20deg); */
        /* rotate(10deg)  */
    }
    50%{
        top: -50%;
        opacity: 0.8;
        /* transform: translateY(-20px); */
        /* transform: scale(1.1); */
        transform: scale(1.02) translateX(-10px);
        /* transform: rotate(-20deg); */
        /* rotate(-10deg)  */
    }
    100%{
        top: 0%;
        opacity: 1;
        /* transform: scale(1); */
        transform:scale(1) translateX(0px);
        /* transform: translateY(0px); */
        /* transform: rotate(0deg); */
        /* rotate(0deg)  */
    }
}

.inside{
    margin: -20px;
    width: 440px;
    /* height: 800px; */
    background-color: rgb(53, 51, 51);
    /* border: 2px solid white; */
    position: relative;
    top: -20%;
    opacity: 0;
    padding-left: 20px;
    /* text-align: center; */
    transition: all 0.3s 0s ease-in;
}
.box:hover .inside{
    opacity: 1;
    top: -5%;
    /* transition: 1s; */
}

.innertext{
    font-size: 30px;
    background-color: rgb(53, 51, 51);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    /* letter-spacing: 0.5px; */
}

.year{
    font-size: 50px;
    color: red;
    background-color: rgb(53, 51, 51);
    font-weight: bold;
}
.degree{
    font-size: 30px;
    background-color: rgb(53, 51, 51);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
.source{
    font-size: 25px;
    background-color: rgb(53, 51, 51);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}